<table border="0" cellpadding="0" cellspacing="0" class="abandoned-cart-reminder outer-wrapper <%= @reminder_step %> set-<%= @project.email_template_set_name %>">
  <tr class="bg-dark-blue">
    <td class="header">
      <div class="logo"></div>
      <h1 class="font-26 in-white m-t-30 m-l-30 m-b-0">
        Work with <span class="in-green">the best 5%</span><br/>
        of designers
      </h1>
      <h2 class="font-12 in-white m-t-20 m-l-30 m-b-0">
        Finish your checkout for <%= @project.brand_name %> and work with professional, hand-picked designers
      </h2>

      <div class="m-t-20 m-l-30 m-b-0">
        <%= link_to 'Finish your checkout →', @continue_brief_url, class: "action-button font-14 bg-green in-dark-blue", target: '_blank' %>
      </div>
    </td>
  </tr>

  <tr>
    <td class="testimonials bg-light-grey p-40">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td width="50%" class="first-review">
            <div class="rating"></div>
            <p class="review">“I will definitely use DesignBro in the future and recommend it to my friends”</p>
            <p class="author"><strong>- Aidar Kussainov</strong>, Ademibar</p>
          </td>
          <td width="50%" class="last-review">
            <div class="rating"></div>
            <p class="review">“Definitely consider using their services - whatever your design needs!”</p>
            <p class="author"><strong>- Ronnie Farmer</strong>, Ronnie Farmer</p>
          </td>
        </tr>
        <tr>
          <td colspan="2" align="center" class="p-t-20">
            <%= link_to 'Finish your checkout →', @continue_brief_url, class: "action-button font-14 bg-dark-blue in-white", target: '_blank' %>
          </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td class="money-back-guarantee p-30">
    </td>
  </tr>

  <tr>
    <td align="center" class='need-help font-8 p-15'>
      <p class="in-darkest-grey">Need help? Contact us:</p>
      <p><a class="in-dark-blue" href="mailto:chris@designbro.com">chris@designbro.com</a></p>
    </td>
  </tr>

  <tr>
    <td align="center" class='unsubscribe font-8 p-15'>
      <%= link_to 'Unsubscribe', @unsubscribe_url, target: "_blank", class: "in-darkest-grey" %>
    </td>
  </tr>
</table>
