<tr>
  <td class='header'>
    <%= I18n.t('designer_mailer.reservation_12_hours_left.header', project_name: cut_on_word(@project.name)) %>
  </td>
</tr>
<tr>
  <td class='text left'>
    <table class='md-table' align='center'>
      <tr>
        <td>
          <%= I18n.t('designer_mailer.reservation_12_hours_left.body') %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td class='padding-bottom-25'>
    <a href='<%= "#{host_url}/d/projects/#{@project.id}" %>' class='main-btn'>
      <%= I18n.t('designer_mailer.reservation_12_hours_left.footer_btn') %>

      <%= image_tag 'arrow_white.png', class: 'arrow' %>
    </a>
  </td>
</tr>
